@import 'normalize.css';

:root {
  --bg-primary: #13c2c2;
  --text-primary: #ffffff;
  --bg-secondary: #e6fffb;
  --text-secondary: #08979c;
  --black: #000;
  --white: #fff;
  --grey: #fafbfb;
  --text-color: #171a1fff;
  --sub-text-color: #9095a0ff;

  --error: #e46a76;
  --warning: #fec90f;
  --success: #00c292;
  --info: #03c9d7;

  --primary-150: #c8f9ffff;
  --primary-250: #83f1ffff;
  --primary-350: #3ee9ffff;
  --primary-500: #00bdd6ff;
  --primary-550: #00a9c0ff;
  --primary-600: #0095a9ff;
  --primary-700: #006d7cff;

  --neutral-150: #f8f9faff;
  --neutral-200: #f3f4f6ff;
  --neutral-300: #dee1e6ff;
  --neutral-400: #bcc1caff;
  --neutral-600: #565e6cff;
  --neutral-650: #424955ff;
  --neutral-700: #323842ff;

  --border-rad-1: 6px;
  --border-rad-2: 20px;

  --gap: 16px;
  --row-gap: 16px;
  --col-gap: 12px;
  --row-space: 12px;
  --row-space-form: 18px;
  --button-space: 16px;
  --label-bottom-space: 6px;

  --wrapper-padding-x: 30px;
  --wrapper-padding-y: 16px;

  --box-shadow-1: 0px 7px 30px 0px rgba(90, 114, 123, 0.11);
  --box-shadow-2: 0px 4px 8px rgba(0, 0, 0, 0.2);

  --font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

p {
  margin-bottom: 0;
}

button,
input,
[tabIndex] {
  border: none;
  outline: none;
}

button,
input {
  cursor: pointer;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

// Fonts embeded
@font-face {
  font-family: Inter;
  src: url('/assets/fonts/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url('/assets/fonts/Inter-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url('/assets/fonts/Inter-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Inter;
  src: url('/assets/fonts/Inter-Bold.ttf');
  font-weight: 700;
}

// Scroll bar
html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 6px;
  height: 6px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.2);
}

html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}

// antd-react select
.ant-select-dropdown .ant-select-item {
  color: var(--neutral-600);
  background: transparent;
  border-radius: var(--border-rad-1);
  white-space: nowrap;
  cursor: pointer;
}

.ant-select-dropdown .ant-select-item.ant-select-item-option-active {
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-weight: 600;
}

.ant-select-dropdown .ant-select-item.ant-select-item-option .ant-select-item-option-content {
  font-size: 14px;
}

// ---------- toastify library ---------

.Toastify__toast-container {
  line-height: 1.4;
}

.Toastify__toast-container--top-right {
  top: 56px !important;
}
