.commentWrapper {
  margin-bottom: var(--row-space);

  .rightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--label-bottom-space);
    padding-left: 10px;

    input {
      width: 100% !important;
    }

    .useName {
      font-size: 16px;
      font-weight: 600;

      .time {
        color: var(--sub-text-color);
        font-size: 12px;
        font-weight: 300;
        margin-left: 10px;
      }
    }

    .contentMess {
      width: 100%;
      color: rgba(0, 0, 0, 0.87);
      background-color: var(--bg-secondary);
      border-radius: var(--border-rad-1);
      box-shadow: none;
    }

    .buttons {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      button + button {
        margin-left: 6px;
      }
    }
  }
}
