.errorPageWrapper {
  width: 100vw;
  height: 100vh;
  background-color: #e4f5ff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 30px;
    font-weight: 700;
    color: var(--error);
    margin-bottom: 12px;
  }

  p {
    font-size: 18px;
    margin-bottom: 26px;
  }
}
